.example-card {
  max-width: 200px;
  background-color: green;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

h2 {
  font-size: 2em;
  color: white;
  margin: auto;
}
