.example-card {
  max-width: 200px;
  background-color: green;
  padding-bottom: 0;
}

.example-header-image {
  background-image: url('../../assets/image-placeholder.png');
  background-size: cover;
}

h2 {
  font-size: 2em;
  color: white;
  margin: auto;
}
