.item-detail-wrapper {
  padding: 3em;
  padding-left: 4em;
}

.example-card {
  max-width: 1240px;
  margin: 1em 0;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

mat-card-content {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.list-item-button {
  float: right;
  background-color: darkgreen;
  color: #fff;
}

img {
  max-width: 640px;
  max-height: 640px;
}
