<div class="item-detail-wrapper">
  <mat-card class="example-card">
    <div class="wrapper">
      <div id="userPhoto">
        <img mat-card-image [src]="item.photo" alt="User image">
      </div>
      <mat-card-content>
        <div id="hlavickaPonuky">
          <h1>{{item.title}}</h1>
          {{item.text}}
        </div>
        <div id="userInfo">
          <p id="name">{{selectedUser.name}}</p>
          <p>Telefón: {{selectedUser.phone}}</p>
          <p>Mail: {{selectedUser.email}}</p>
          <p>Adresa: </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="list-item-button">Všetky ponuky používateľa</button>
        <button mat-button class="list-item-button" (click)="openContactDialog()">Kontaktuj</button>
      </mat-card-actions>
    </div>
  </mat-card>

  <mat-card class="example-card" id="popisPonuky">
    <h3>Popis ponuky</h3>
    <p>{{item.text}}</p>
    <br>
  </mat-card>

  <mat-card class="example-card" id="podobnePonuky">
    <h3>Podobné ponuky</h3>
    <div id="ponuky">
      <img src="../../assets/image-placeholder.png">
      <img src="../../assets/image-placeholder.png">
      <img src="../../assets/image-placeholder.png">
      <img src="../../assets/image-placeholder.png">
    </div>
  </mat-card>

  <mat-card class="example-card" id="komentare">
    <h2>Komentáre</h2>
    <div class="komentar">
      <div class="hlavickaKoment">
        <h3>Jozefína</h3>
        &hearts;&hearts;&hearts;&hearts;
      </div>
      <div class="popisKomentar">
        Najlepší sused pod slnkom :3
      </div>
    </div>
    <div class="komentar">
      <div class="hlavickaKoment">
        <h3>Irenka</h3>
        &hearts;&hearts;&hearts;&hearts;
      </div>
      <div class="popisKomentar">
        Maximálna spokojnosť
      </div>
    </div>
    <div class="komentar">
      <div class="hlavickaKoment">
        <h3>Martin</h3>
        &hearts;&hearts;&hearts;&hearts;
      </div>
      <div class="popisKomentar">
        Super!
      </div>
    </div>
  </mat-card>
</div>
