.mat-raised-button {
  background-color: darkorange;
  color: #fff;
  height: 3em;
  margin-top: 0.7em;
}

.search-panel-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
