.mat-raised-button {
  background-color: darkorange;
  color: #fff;
  height: 3em;
  margin-top: 0.7em;
}

.search-panel-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

mat-form-field {
  width: 15em;
}

button {
  width: 15em;
}
