<h1 class="mat-h1">Vysledky vyhladavania</h1>

<div class="category-list-wrapper">
  <div class="category-list-content">
    <mat-card class="search-panel">
      <app-search-panel></app-search-panel>
    </mat-card>
    <div *ngFor="let item of data">
      <app-list-item [item]="item"></app-list-item>
    </div>
  </div>
  <div class="category-list-side-menu">
    <mat-card class="category-list-side-menu-card">
      <h2>Kategorie</h2>
      <mat-card-content>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </mat-card-content>
    </mat-card>
  </div>
</div>
