<h1 class="mat-h1 search-result-title">Vysledky vyhladavania</h1>

<div class="category-list-wrapper">
  <div class="category-list-content">
    <mat-card class="search-panel">
      <app-search-panel></app-search-panel>
    </mat-card>
    <mat-card class="search-panel">
      <app-filter-list></app-filter-list>
    </mat-card>
    <div *ngIf="!data.length" class="category-list-empty-data" (click)="openDialog()">
      <h4 class="mat-h2 search-result-title">Nenašli sa žiadne výsledky, skúste prosím upraviť vyhľadávanie, prípadne kliknite tu na pridanie dopytu</h4>
    </div>
    <div *ngFor="let item of data">
      <app-list-item [item]="item"></app-list-item>
    </div>
  </div>
  <div class="category-list-side-menu">
    <mat-card class="category-list-side-menu-card">
      <h2>Kategorie</h2>
      <mat-card-content>
        <app-menu-item [items]="['kosenie', 'stromy']" [menuName]="'Zahrada'"></app-menu-item>
        <app-menu-item [items]="['kocikovanie', 'aupair']" [menuName]="'Deti'"></app-menu-item>
        <app-menu-item [items]="['vysavanie', 'stahovanie nabytku']" [menuName]="'Domacnost'"></app-menu-item>
        <app-menu-item [items]="['Oprava pc', 'Internet']" [menuName]="'IT'"></app-menu-item>
        <app-menu-item [items]="['Grilovanie', 'Bicykle']" [menuName]="'Podujatia'"></app-menu-item>
        <app-menu-item [items]="['Elektrina', 'Strecha']" [menuName]="'Domaci majster'"></app-menu-item>
      </mat-card-content>
    </mat-card>
  </div>
</div>
