.welcome-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 800px;
}

.welcome-image-text {
  margin: auto;
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 14px;
}

.welcome-image-button-scroll {
  display: block;
  position: relative;
  left: 45%;
  top: 460px;
}

.welcome-image-inside-wrapper {
  display: block;
  position: relative;
  top: 300px;
}

.welcome-category-wrapper {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: auto;
}


.mat-card {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.divider {
  height: 50px;
  width: 100%;
}

.divider.category {
  height: 30px;
}
