<div class="welcome-image">
  <div class="welcome-image-inside-wrapper">
    <h2 class="mat-h2 welcome-image-text">Sused v nudzi</h2>
    <h6 class="mat-h6 welcome-image-description-text">Aplikacia pre podanie pomocnej ruky</h6>
    <mat-card>
      <app-search-panel></app-search-panel>
    </mat-card>
  </div>
  <button mat-raised-button class="welcome-image-button-scroll" (click)="scroll(target)">
    <mat-icon >arrow_downward</mat-icon>
    Prejdi na kategorie
  </button>
</div>

<div class="divider"></div>

<div #target>
  <div class="welcome-category-wrapper">
    <app-category [categoryName]="'Zahrada'" [imageUrl]="'../../assets/categories/1.jpg'" [category]="getCategory('GARDEN')"></app-category>
    <app-category [categoryName]="'Deti'" [imageUrl]="'../../assets/categories/2.jpg'" [category]="getCategory('KIDS')"></app-category>
    <app-category [categoryName]="'Domacost'" [imageUrl]="'../../assets/categories/3.jpg'" [category]="getCategory('HOME')"></app-category>
  </div>
  <div class="divider category"></div>
  <div class="welcome-category-wrapper">
    <app-category [categoryName]="'IT'" [imageUrl]="'../../assets/categories/4.jpg'" [category]="getCategory('IT')"></app-category>
    <app-category [categoryName]="'Podujatia'" [imageUrl]="'../../assets/categories/5.jpg'" [category]="getCategory('EVENTS')"></app-category>
    <app-category [categoryName]="'Domaci kutil'" [imageUrl]="'../../assets/categories/6.jpg'" [category]="getCategory('PLUMBER')"></app-category>
  </div>
</div>


<div class="divider"></div>
