<div class="welcome-image">
  <div class="welcome-image-inside-wrapper">
    <h2 class="mat-h2 welcome-image-text">Sused v nudzi</h2>
    <mat-card>
      <app-search-panel></app-search-panel>
    </mat-card>
  </div>
  <button mat-raised-button class="welcome-image-button-scroll" color="primary" (click)="scroll(target)">Scroll to
    categories
  </button>
</div>

<div class="divider"></div>

<div #target>
  <div class="welcome-category-wrapper">
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
  </div>
  <div class="divider category"></div>
  <div class="welcome-category-wrapper">
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
  </div>
</div>


<div class="divider"></div>
