<div class="welcome-image">
  <div class="welcome-image-text">Sused v nudzi</div>
  <mat-card>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Kraj">
        <mat-option>Bratislava</mat-option>
        <mat-option>Bratislava</mat-option>
        <mat-option>Bratislava</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
  </mat-card>
  <button mat-raised-button class="welcome-image-button-scroll" color="primary">Scroll to categories</button>
</div>

<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>

<div class="welcome-category-wrapper">
  <app-category></app-category>
  <app-category></app-category>
  <app-category></app-category>
</div>
<div class="divider"></div>
<div class="welcome-category-wrapper">
  <app-category></app-category>
  <app-category></app-category>
  <app-category></app-category>
</div>
