.add-todo {
  width: 100%;
}

mat-list-item:hover {
  background-color: silver;
}

.active {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
}

mat-radio-button {
  padding-right: 20px;
}

mat-radio-group {
  display: block;
  margin: auto;
}
