h1 {
  font-family:Roboto,"Helvetica Neue",sans-serif;
}

.add-todo {
  width: 100%;
}

mat-list-item {
  background-color: white;
  transition: background-color 700ms ease-out;
}

mat-list-item:hover {
  background-color: rgba(176, 226, 255, 0.5);
  transition: background-color 200ms ease-in-out;
}

.active {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
}

mat-radio-button {
  padding-right: 20px;
}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
